{% extends "base.html" %}

{% block title %}{{ advert.title }} — КорпМаркет{% endblock %}

{% block content %}
<article>
    <h1>{{ advert.title }}</h1>

    <p>
        <strong>Автор:</strong>
        {{ advert.seller.username }}
    </p>

    <p>
        <strong>Категория:</strong>
        {{ advert.get_category_display }}
    </p>

    <p>
        <strong>Статус:</strong>
        {{ advert.get_status_display }}
    </p>

    <p>
        <strong>Цена:</strong>

        {% if advert.is_price_negotiable %}
            Договорная
        {% else %}
            {{ advert.price }} ₽
        {% endif %}
    </p>

    {% if advert.address %}
        <p>
            <strong>Адрес:</strong>
            {{ advert.address }}
        </p>
    {% endif %}

    <div class="mb-3">
        {{ advert.description|linebreaks }}
    </div>

    <p class="text-muted">
        Создано: {{ advert.created_at|date:"d.m.Y H:i" }}
    </p>

    {% if user == advert.seller or user.is_superuser %}
        <div class="d-flex gap-2">
            <a
                class="btn btn-warning"
                href="{% url 'adverts:update' advert.pk %}"
            >
                Редактировать
            </a>

            <a
                class="btn btn-danger"
                href="{% url 'adverts:delete' advert.pk %}"
            >
                Удалить
            </a>
        </div>
    {% endif %}
</article>
{% endblock %}
