# .coveragerc
[run]


source = .
omit =
    */migrations/*
    */tests/*
    */test_*
    manage.py
    */settings/*
    */wsgi.py
    */asgi.py
    venv/*
    .venv/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise AssertionError
    raise unittest.SkipTest